@import '@angular/material/prebuilt-themes/indigo-pink.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog-container .mat-mdc-dialog-container {
  padding: 0 !important;
  border-radius: 16px !important;
  overflow: hidden !important;
}

.mat-mdc-paginator {
  background: transparent !important;
}